<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crop Recommendation System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='predict.css') }}">
</head>
<body>
    <div class="outer-container">
        <div class="title-container">
            <h1>PREDICTION RESULT!</h1>
        </div>
        <div class="result-container">
            <p><strong>Recommended Crop:</strong></p>
            <h2>{{ prediction }}</h2>
            <a href="/" class="back-link">Go Back</a>
        </div>
    </div>
</body>
</html>
